<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudySites</title>
</head>
<body>
    <div class="top-nav">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="#">ホーム</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">アカウント</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">ヘルプ</a>
        </li>
    </ul>
    </div>
</body>
</html>