    <div class="top-nav">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="#">ホーム</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">アカウント</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">ヘルプ</a>
            </li>
        </ul>
    </div>