    <div class="top-nav">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <%= link_to "ホーム", root_path, class: "nav-link active" %>
            </li>
            <li class="nav-item">
                <%= link_to "アカウント", '#', class: "nav-link active" %>
            </li>
            <li class="nav-item">
                <%= link_to "ヘルプ",'#' , class: "nav-link active"%>
            </li>
        </ul>
    </div>